*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.display-flex{
  display:flex
}

/* dark 1 */
.text-black{
  color:#131313;
}

/* dark 2 */
.text-gray{
  color:#424242;
}
/* dark 3 */
.text-light-gray{
  color:#727272;
}
.text-primary{
color:#FF900E;
}
.btn-primary{
  background-color: #FF900E;
  color:#fff;
  border:none;
  border-radius: 8px;
  padding:20px 24px ;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 32px;
}
.main{
  max-width:1440px;
  margin:0 auto;
  padding-top:85px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 24px;
}
.text-description{
  font-size: 1rem;
  line-height: 1.8rem;
 margin-top: 1.25rem;
}
.bg-light{
 background-color:rgba(242, 255, 14, 0.1);
}
.brand-name{
  font-size:2.8rem ;
  font-weight:900 ;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding:4rem;
}
.nav-item{
  font-size: 1rem;
list-style: none;
line-height: 26px;
margin-right:30px;
font-weight: 500;
}
.nav-link{
  text-decoration: none;
 
}
.navbar,.banner{
  max-width: 1440px;
  margin:0 auto;
}
.banner-content{
  max-width:862px ;
  text-align: center;
  margin:0 auto;
  margin-bottom: 50px;
padding-top:3.25rem;

}

.banner-title{
  font-size:4rem ;
  font-weight: 900;
}
.banner-img{
  width:100%;
}
main>section{
  margin-top: 130px;
}
/* team and feature related style */
.team-feature{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:24px;
}
.features{
  max-width:530px ;
  margin-left: 73px;
}

#quick-list{
  font-weight: 500;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 100px;
  
}
.fact-card{
  margin: 0 auto;
  border: 1px solid #FF900E;
  text-align: center;
  justify-content: center;
  width: 241px;
  align-items: center;
  height: 241px;
  border-radius: 8px;
}
.fact-number{
  font-size: 2.8rem;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.2rem;
  font-weight: 600;
}
/* sponsor related styles */
.section-info{
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
  padding-top: 180px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
 
  filter:grayscale(100%);
}
@media screen and (max-width:576px){
  .navbar,.menu,.team-feature{
    flex-direction: column;
  }
  .team-img-container,.facts-container,.sponsor-companies{
    grid-template-columns: repeat(1,1fr);
  }
  .features{
 
  margin-left: 20px;
}
.facts-container,.sponsor-companies{
  justify-items: center;
  gap:24px;
}

}
/* medium device */
@media  screen and (min-width:576px) and (max-width:992px){
  .team-feature{
    flex-direction: column;
  }
  .features{
    margin:50px auto;
  }
  .team-img-container,.facts-container,.sponsor-companies{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
  }
}