*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.display-flex{
  display:flex
}

/* dark 1 */
.text-black{
  color:#131313;
}

/* dark 2 */
.text-gray{
  color:#424242;
}
/* dark 3 */
.text-light-gray{
  color:#727272;
}
.btn-primary{
  background-color: #FF900E;
  color:#fff;
  border:none;
  border-radius: 8px;
  padding:20px 24px ;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 32px;
}
.bg-light{
 background-color:rgba(242, 255, 14, 0.1);
}
.brand-name{
  font-size:2.8rem ;
  font-weight:900 ;
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding:4rem;
}
.nav-item{
  font-size: 1rem;
list-style: none;
line-height: 26px;
margin-right:30px;
font-weight: 500;
}
.nav-link{
  text-decoration: none;
 
}
.navbar,.banner{
  max-width: 1440px;
  margin:0 auto;
}
.banner-content{
  max-width:862px ;
  text-align: center;
  margin:0 auto;
  margin-bottom: 50px;
padding-top:3.25rem;

}
.banner-description{
  font-size: 1rem;
  line-height: 1.8rem;
 margin-top: 1.25rem;
}
.banner-title{
  font-size:4rem ;
  font-weight: 900;
}
.banner-img{
  width:100%;
}

@media screen and (max-width:576px){
  .navbar,.menu{
    flex-direction: column;
  }
}